.owl-block-wrapper{
   display: flex;
   max-width: 1440px;
   width: 100%;
   height: 1656px;
   flex-direction: column;
   align-items: center;
   @media(max-width: 768px){
      height: 960px;
   }
   @media(max-width: 520px){
      height: 850px;
   }
   .discount-container{
      display: flex;
      width: 85%;
      height: 435px;
      justify-content: center;
      align-items: center;
      color: white;
      font-size: 28px;
      font-family: Didact Gothic;
      font-weight: 400;
      line-height: 35px;
      word-wrap: break-word;
      text-align: center;
      @media(max-width: 768px){
         flex-direction: column;
         align-items: center;
         font-size: 36px;
         line-height: 36px;
         height: 387px;
      }
      @media(max-width: 520px){
         height: 317px;
         margin-bottom: 20px;
      }
      .discount-button{
         display: flex;
         max-width: 225px;
         width: 100%;
         height: 60px;
         border: 1px white solid;
         border-radius: 15px;
         background-color: #111C18;
         justify-content: center;
         align-items: center;
         margin-left: 3.3%;
         @media(max-width: 768px){
            max-width: 706px;
            width: 100%;
            height: 125px;
            margin-top: 59px;
            margin-left: 0;
         }
         @media(max-width: 520px){
            max-width: 480px;
            width: 100%;
            height: 125px;
         }
         @media(max-width: 410px){
            max-width: 380px;
            width: 100%;
         }
         &:hover{
            cursor: pointer;
         }
      }
   }
   .owl-picture{
      display: flex;
      max-width: 1440px;
      width: 100%;
      height: 716px;
      position: relative;
      z-index: 2;
      @media(max-width: 768px){
         height: 346px;
      }
      @media(max-width: 520px){
         height: 286px;
      }
      @media(max-width: 410px){
         height: 236px;
      }
      img{
         width: 100%;
         height: 100%;
         object-fit: cover;
         position: relative;
         z-index: 2;
      }
      .ellipse-one{
         width: 64px;
         height: 63px;
         position: absolute;
         z-index: -2;
         top: 746px;
         left: 84.23%;
         @media(max-width: 768px){
            top: 360px;
         }
         @media(max-width: 520px){
            top: 296px;
            left: 80.5%;
         }
         @media(max-width: 410px){
            top: 250px;
            left: 78.5%;
         }
      }
      .ellipse-two{
         position: absolute;
         width: 128px;
         height: 126px;
         top: 670px;
         left: 78.5%;
         z-index: -1;
         @media(max-width: 768px){
            top: 276px;
            left: 73.5%;
         }
         @media(max-width: 520px){
            top: 206px;
            left: 68.5%;
         }
         @media(max-width: 410px){
            top: 170px;
            left: 58.5%;
         }
      }
   }
   .info-container{
      display: flex;
      width: 100%;
      height: 305px;
      margin-top: 200px;
      justify-content: center;
      align-items: center;
      @media(max-width: 768px){
         height: 149px;
         margin-top: 130px;
      }
      @media(max-width: 520px){
         height: 269px;
      }
      @media(max-width: 410px){
         height: 260px;
      }
      .text{
         max-width: 736px;
         width: 85%;
         height: 100%;
         color: white;
         font-size: 24px;
         font-family: Didact Gothic;
         font-weight: 400;
         line-height: 100%;
         word-wrap: break-word;
         align-items: center;
         text-align: center;
         position: relative;
         span{
            color: white;
            font-size: 28px;
            font-family: Didact Gothic;
            font-weight: 400;
            line-height: 35px;
            word-wrap: break-word;
         }
      } 
   } 
}